<!DOCTYPE html>
<html lang="en">
<head>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Fact number one</title>
        <style type="text/css">
            body {

                background-color: #03fcad;
                position:center;}
            ul.navbar {
                position: absolute;
                top: 2em;
                left: 1em;
                width: 9em }

        </style>

    </head>
    <body>
    <p><a href="/headpage" th:href="@{/headpage}">Back to main page</a></p>
    <h1>In fact, Kazan is not only one of the oldest cities in Russia, but in Eastern Europe as well. It’s about 150 years older than Moscow. Officially founded in 1005, and became part of the largest Mongol-Tatar empire in the world, the Golden Horde, in the 13th century. Ivan the Terrible captured the city and brought it into the Russian Empire’s reign in the 16th century.
    </h1>
    <img th:src="@{/img/House.JPG}" />
    </body>
    </html>